:host {
    --fonts-default: inherit;
    --brand-color: #35E3D8;  /* Surf's main brand color */
    --hover-color: #2DC0B8;   /* Slightly darker shade for hover effect */
    --dark-background: #11181F; /* Surf's dark color */
    --light-gray: #303030; /* Lighter background for messages */
    --font-color: #FAFAF9; /* Font color for dark mode */
}

.vfrc-launcher {
    background-color: var(--brand-color);
}

.vfrc-launcher:hover {
    background-color: var(--hover-color);
}

.vfrc-chat {
    background-color: var(--dark-background);
}

.vfrc-widget--chat {
    max-height: 100% !important;
}

.vfrc-header,
.vfrc-footer {
    background-color: var(--brand-color);
}

::--webkit-scrollbar {
    border-left: 1px solid var(--brand-color);
}

::--webkit-scrollbar-thumb {
    background-color: rgba(53, 227, 216, 0.3); /* Opacity added to the brand color */
}

.vfrc-assistant-info--title {
    color: var(--font-color);
}

.vfrc-assistant-info--description,
.vfrc-chat--session-time,
.vfrc-timestamp,
.vfrc-footer--watermark {
    color: rgba(53, 227, 216, 0.8); /* Font color with reduced opacity */
}

.vfrc-assistant-info--description a,
.vfrc-chat--session-time a,
.vfrc-timestamp a,
.vfrc-footer--watermark a {
    color: var(--font-color);
}

.vfrc-message--chat {
    background-color: var(--light-gray);
    color: var(--font-color);
}

.vfrc-button--secondary {
    background-color: var(--light-gray);
    color: var(--font-color);
    border-color: var(--brand-color);
}

.vfrc-button--secondary:hover {
    font-weight: 700;
    border-color: var(--brand-color);
    border: 2px solid var(--brand-color);
}

.vfrc-footer button.vfrc-button {
    position: relative;
    background-color: var(--brand-color) !important;
    color: var(--font-color);
}

.vfrc-footer button.vfrc-button::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: var(--font-color);
    border: 2px solid var(--brand-color);
}

.vfrc-footer .vfrc-chat-input--button .vfrc-bubble {
    background-color: var(--brand-color);
}

.vfrc-prompt {
    background-color: var(--brand-color);
}

.vfrc-prompt button {
    color: var(--font-color);
}

.vfrc-prompt button:hover {
    color: #efefef;
}

.vfrc-chat--session-time,
.vfrc-chat--status::placeholder {
    background-image: none;
}

.vfrc-chat--session-time,
.vfrc-chat--status::placeholder {
    color: transparent;
}

.vfrc-chat--session-time,
.vfrc-chat--status {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='250px'><text x='60' y='30' fill='gray' font-family='Arial' font-size='13'>I dag</text></svg>");
    background-repeat: no-repeat;
    background-position: left;
}

.vfrc-chat-input textarea {
    background-image: none;
}
.vfrc-chat-input textarea::-moz-placeholder {
    color: transparent;
}
.vfrc-chat-input textarea::placeholder {
    color: transparent;
}

.vfrc-prompt button.vfrc-button--primary,
footer button.vfrc-button--primary {
    position: relative;
    color: transparent !important;
}
.vfrc-prompt button.vfrc-button--primary::after,
footer button.vfrc-button--primary::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: #ffffff;
}
.vfrc-prompt button.vfrc-button--primary[label=Cancel]::after,
footer button.vfrc-button--primary[label=Cancel]::after {
    color: rgba(0, 0, 0, 0.9);
}

.vfrc-chat-input textarea:-moz-placeholder-shown {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='250px'><text x='15' y='25' fill='silver' font-family='roboto' font-size='15'>Send melding...</text></svg>");
    background-repeat: no-repeat;
}

.vfrc-chat-input textarea:placeholder-shown {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='250px'><text x='15' y='25' fill='silver' font-family='roboto' font-size='15'>Send melding...</text></svg>");
    background-repeat: no-repeat;
}

.vfrc-prompt button.vfrc-button--primary::after,
footer button.vfrc-button--primary::after {
    content: "Start ny samtale";
}
.vfrc-prompt button.vfrc-button--primary[label="End Chat"]::after,
footer button.vfrc-button--primary[label="End Chat"]::after {
    content: "Avslutt samtale";
}
.vfrc-prompt button.vfrc-button--primary[label=Cancel]::after,
footer button.vfrc-button--primary[label=Cancel]::after {
    content: "Avbryt";
    color: rgba(0, 0, 0, 0.9);
}

.vfrc-proactive-message {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 0px;
    font-weight: 500;
    font-size: 14.5px;
}

.vfrc-proactive-close {
    background-color: var(--button-fill);
    border: solid 1.6px var(--button-border);
}

.vfrc-proactive-close:hover {
    background-color: var(--system-message);
    border: solid 1.6px var(--header-gradient-end);
}
